img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.flex-row-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flex-row-item {
  margin: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  width: 20%;
  background-color: rgb(226, 226, 204);
}
.flex-row-item:hover {
  background-color: rgb(128, 128, 114);
}

.flex-row-item p {
  margin: 0;
  margin-bottom: 10px;
}

.btn {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.btn:hover {
  text-decoration: underline;
}
